body {
  margin: 0px;
}

canvas {
  background-image: url("https://static.wikia.nocookie.net/virtualyoutuber/images/7/7b/Virtual_Witch_Phenomenon_%282%29_by_Issiki.jpg/revision/latest/scale-to-width-down/1000?cb=20250907073559");
  margin: 20px;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
  display: none;
}
